body {
    background: linear-gradient(135deg, #ffafbd, #ffc3a0);
    color: #fff;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 60px;
    height: 100%;
} 

h1 {
    margin: 30px 0;
    font-size: 2.5rem;
}

.declaracao {
    width: 650px;
    font-size: 1.3rem;
    margin-top: 25vh;
    margin-left: auto;
    margin-right: auto;
}

.contador {
    font-size: 1.2rem;
    margin-top: 15px;
    font-weight: bold;
}

a.musica-link {
    display: inline-block;
    margin-top: 25px;
    background-color: white;
    color: #ff4081;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
}

a.musica-link:hover {
    background-color: #ffe6eb;
}

audio {
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    outline: none;
}

#playerContainer {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    display: contents;}

#drag-container,
#spin-container {
    position: relative;
    top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-10deg);
    transform: rotateX(-10deg);
}

#drag-container img,
#drag-container video {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    line-height: 200px;
    font-size: 50px;
    text-align: center;
    -webkit-box-shadow: 0 0 8px #fff;
    box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0005);
}

#drag-container img:hover,
#drag-container video:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px linear-gradient(transparent, transparent, #0007);
}

#drag-container p {
    font-family: Serif;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    color: #fff;
}

#ground {
    width: 900px;
    height: 900px;
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(center center, farthest-side, #9993, transparent);
}

#music-container {
    position: absolute;
    top: 0;
    left: 0;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}

@keyframes spinRevert {
    from {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }

    to {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
}


@media screen and (max-width: 500px) {
    .declaracao{width: 100%; padding: 0 10px;}
}
